.pointer {cursor: pointer;}
.text-red {
    color: #f00;
}
.border-err {
    border: 1px solid red;
}
.fixed-top {
    z-index: 1029 !important;
}
.z-index-high {
    z-index: 9999 !important;
}
.dot-menu-btn {
    background: none;
    outline: none;
  }
  .mat-menu-item:focus {
    outline: none;
    border: none;
  }
  .w-30 {
    width: 30% !important;
  }
  .w-70 {
    width: 70% !important;
  }
  .w-80 {
    width: 80% !important;
  }
  .w-15 {
    width: 15% !important;
  }
  .w-90 {
    width: 90% !important;
  }
  .h-40p {
    height: 40px;
  }