<!-- <div class="container-fluid"> -->
  <div class="row m-t-xl m-l-sm">
    <div class="col-12 col-sm-8 ">
      <h1 class="heading-text">we are <strong class="heading-strong">Machine Learning</strong> based solution
         </h1>
         <h1 class="heading-text"> Now screen Profiles in less time</h1>
    </div>
    <div class="col-12 col-sm-4 "> 
        <button type="button" class="form-control form-rounded hiring-signin m-t-sm w-118" (click) = "signIn()"> &#43; Post Job</button>
    </div>
  </div>
  <!-- <div class="row p-l">
    <div class="col-12 col-sm-5 col-md-4 col-lg-4 login-bubble-img
    d-flex justify-content-center align-items-center text-center">
      <div class="col-9 position-relative">
        <img src="../../../assets/signin-bubbles.png" class="h-150 w-100">
        <h5 class="login-bubble position-absolute  pointer" (click)= "signIn()">Login</h5>
        <h6 class="signup-bubble position-absolute  pointer">Sign up</h6>
      </div>
       
    </div>
    <div class="col-12 col-sm-7  col-md-8 col-lg-8 ">
      <div class="position-relative w-100">
          <img src="../../../assets/360 image.jpg" class="w-100 h-370">
          <span class="position-absolute col-4 tracking-img-text">
            360 view on profiles using our Tracking System
          </span>
      </div>
      
    </div>
  </div> -->
  <div class="row p-l-r-30 m-h-400 position-relative">
    <img src="../../../assets/signin.png" class="w-100 position-relative">
      <h5 class="login-bubble position-absolute  pointer" (click)= "signIn()">Login</h5>
      <h6 class="signup-bubble position-absolute  pointer">Sign up</h6>
    <div class="position-absolute tracking-img-text">
      <span class="text-center col-12 d-block">
        360 view on profiles
      </span>
      <span class=" col-12 text-center d-block">
        using our Tracking
      </span>
      <span class=" col-12 text-center d-block">
        System
      </span>
    </div>
  </div>
<div class="position-relative m-t">
  <img src="../../../assets/Report Illustration.jpg" class="col-12 p-l-r-0 h-750">
  <div class="position-absolute post-job-text1">
    <h3 class="col-5 col-sm-8 col-md-12 col-lg-12 text-center">post your job and get a </h3>
    <h3 class="col-5 col-sm-8 col-md-12 col-lg-12">scored <strong class="h1">Report</strong> of the applicants</h3>
    <h3  class=" col-sm-12 col-lg-12 m-t">Screen NOW !</h3>
  </div>
</div>
<!-- <div class="row h-580">
  <div class="col-6 col-sm-6 h-450 d-flex align-items-center justify-content-center">
    <img src="../../../assets/screening.jpg" class=" screening-img p-lg m-l-lg p-l-lg w-100 m-t-50">
  </div>
  <div class="col-6 col-sm-6 position-relative d-flex align-items-center justify-content-center">
    <h4 class="position-absolute screening-hand-text col-5">Bulk Screening in minutes</h4>
    <img src="../../../assets/screening (1).png" class="m-t-n-20 w-100 position-absolute screening-hand">
  </div>
</div> -->
<div class="row m-h-400 position-relative m-t-n-150">
  <img src="../../../assets/find-req.png" class="w-100 position-relative m-l-30">
  <h4 class="position-absolute screening-hand-text  col-6 col-sm-5 col-md-4 col-lg-3 text-center">Bulk Screening <br/>in minutes</h4>
</div>
<div class="row m-t-n-100">
  <div class="col-sm-5 position-relative">
    <img src="../../../assets/dim.png" class="h-300 w-100">
    <!-- <div class="d-flex position-absolute"> -->
        <!-- <mat-icon>person</mat-icon>
        <mat-icon>person_outline</mat-icon> -->
        <div class="position-absolute dashboard-img col-6">
            <img src="../../../assets/dashboard.png"  class="  col-12">
            <p class=" col-12 text-white text-center">
              Comapre and Analyse profiles in a best way
            </p>
        </div>
       
    <!-- </div> -->
  </div>
  <div class="col-sm-6">
    <h3 class="apta-rec text-center">Make your recruiting processing very easy with AptaHR</h3>
  </div>
  <div class="col-sm-1 position-relative">
    <div class="dashboard-circle d-flex align-items-center"></div>
  </div>
</div>
<div class="row m-t-n-md">
  <div class="col-7 col-sm-7 text-center d-flex align-items-end">
    <h1 class="apta-rec">AptaHR will save recruiters unimaginable amounts of time</h1>
  </div>
  <div class="col-4 col-sm-4">
    <div class="check-circle d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center">
          <h4 class="text-center check-inner-circle">
              <img src="../../../assets/checkmark-100.png" class="checkmark m-t">
              <p class="f-s-16 apta-color">quick compare best profiles</p>
    </h4>
      </div>
    
    </div>
  </div>
</div>
<div class="row h-580 m-b-sm m-t-lg">
  <h1 class="col-sm-12 text-center get-into">Get into AptaHR and start Hiring</h1>
  <div class="col-6 col-sm-6 text-center m-h-400 ">
    <!-- <div class="w-100"> -->
        <div class="text-center d-flex align-items-center justify-content-center">
            <h2 class="main-circle d-flex align-items-center justify-content-center">  <span class="h2 apta-color">Apta</span> <strong>HR</strong></h2>
          </div>
          <span class="sub-circles circle-1 position-absolute d-flex align-items-center justify-content-center">Screening Profiles</span>
          <span class="sub-circles circle-2 position-absolute d-flex align-items-center justify-content-center">Quick Compare</span>
          <span class="sub-circles circle-3 position-absolute d-flex align-items-center justify-content-center">360 view on profiels</span>
          <span class="sub-circles circle-4 position-absolute d-flex align-items-center justify-content-center">manage CV Database</span>
    <!-- </div> -->
  </div>
  <div class="col-6 col-sm-6 m-h-400 position-relative">
      <div class="position-absolute hiring-circle-text">
        <div class="position-absolute hiring-inner-text">
            <button type="button" class="btn  hiring-process-btn">Hiring Process</button>
            <h4 class="m-t hiring-process col-10 p-l-0">Post a job</h4>
            <h4 class="m-t hiring-process col-10 p-l-0">Receive Applications</h4>
            <h4 class="m-t hiring-process col-10 p-l-0">Screen profiles with matched score reportes</h4>
            <button type="button" class="form-control form-rounded hiring-signin m-t-lg f-s-20 w-100px"
            (click) = "signIn()">Sign In</button>
        </div>
      </div>
      <!-- <img src="../../../assets/circle.png" class="w-100 position-relative">
      <div class="position-absolute hiring-inner-text">
          <button type="button" class="btn  hiring-process-btn">Hiring Process</button>
          <h4 class="m-t-xs hiring-process">Post a job</h4>
          <h4 class="m-t-xs hiring-process">Receive Applications</h4>
          <h4 class="m-t-xs hiring-process">Screen profiles with matched score reportes</h4>
          <button type="button" class="form-control form-rounded hiring-signin m-t-sm"
          (click) = "signIn()">Sign In</button>
      </div> -->
  </div>
</div>
<div class="row p-l-r-0 m-t-30">
  <p class="offset-9 col-3 text-right robot-text d-flex align-items-center justify-content-center">
   <span> talk to our professoinals</span>
    <img src="../../../assets/robot.gif" class="robot-img pointer" (click) = "contact()">
  </p>
</div>
<!-- </div> -->