<div class="row justify-content-center">
    <div class="profile-main">
        <div class="profile-main_top position-relative">
            <div class="profile-main_photo">
                <img src="../../../../assets/man.png" alt="">
            </div>
        </div>
        <div class="row profileDetails">
            <div class="col-sm-12">
                <h5>Name: <span>Admin</span></h5>
            </div>
            <div class="col-sm-6">
                <h5>Phone: <span>0998765423</span></h5>
            </div>
            <div class="col-sm-6">
                <h5>Gender: <span>Male</span></h5>
            </div>
            <div class="col-sm-6">
                <h5>Location <span>Hyderabad</span></h5>
            </div>
            <div class="col-sm-6">
                <h5>Language <span>English</span></h5>
            </div>
        </div>
    </div>
</div>