<div class="p-l-r-10  m-t-lg m-l-r-10">
    <h1 class="heading">Subscription Plans</h1>
    <div class="row p-l-r-10 justify-content-around m-b-lg">
        <div class="col-sm-3 cards">
            <h6 class="text-center font-weight-bold m-t-sm">Free Trail Plan</h6>
            <h6 class="text-center">Active Users: &nbsp;56</h6>
            <h6 class=" text-center"> <button class="terms-btn btn-press">Change Plan Terms</button> </h6>
            <h5 class="text-center"> Post Upto 5 Jobs </h5>
            <h5 class="text-center">Score results for up to 5 CV's</h5>
        </div>
        <div class="col-sm-3 cards">
            <h6 class="text-center font-weight-bold m-t-sm">Standard Plan</h6>
            <h6 class="text-center">Active Users: &nbsp;32</h6>
            <h6 class=" text-center"> <button class="terms-btn btn-press">Change Plan Terms</button> </h6>
            <h5 class="text-center"> Unlimited job postings </h5>
            <h5 class="text-center">Custom job application link to
                accept direct applications</h5>
            <h5 class="text-center">
                Multi-CV upload and custom
                'CV database' module
            </h5>
        </div>
        <div class="col-sm-3 cards">
            <h6 class="text-center font-weight-bold m-t-sm">Business Plan</h6>
            <h6 class="text-center">Active Users: &nbsp;19</h6>
            <h6 class=" text-center"> <button class="terms-btn btn-press">Change Plan Terms</button> </h6>
            <h5 class="text-center font-weight-bold"> STANDARD </h5>
            <h3 class="text-center font-weight-bold"> + </h3>
            <h5 class="text-center">Schedule interviews</h5>
            <h5 class="text-center">
                Application status information
            </h5>
            <h5 class="text-center">Compare applicant profiles</h5>
        </div>
    </div>
    <h1>Plan Module </h1>
    <h2>Free Trail Plan - <span>AI Module</span></h2>
    <h2>Standard  Plan - <span>Basic Module</span>  <span>AI Module</span></h2>
    <h2>Business  Plan - <span>Basic Module</span>  <span>AI Module</span></h2>
    <div class="m-b-lg"></div>
</div>