.heading {
    color: #373838;
    font-size: 25px;
}
.cards {
    background: #373838;
    border-radius: 5px;
    color: #FFFFFF;
}
h6 {
    font-size: 23px !important;
    margin-bottom: 15px;
    font-family: century gothic;
}
h5 {
    font-size: 20px !important;
    font-family: century gothic;
    margin-bottom: 15px;
}
.terms-btn {
    background: #FFFFFF;
    border: transparent;
    padding: 5px 7px;
    font-size: 18px;
    border-radius: 5px;
}
h1 {
    font-family: Raleway;
    font-size: 25px;
    color: #373838;
    font-weight: bold;
    margin-left: 15px;
}
h2 {
    font-family: Raleway;
    font-size: 20px;
    margin-left: 15px;
    color: #373838;
    font-weight: bold;
    span {
        font-weight: lighter;
        margin-left: 10px;
    }
}