<div class="col-sm-12 justify-content-between m-t-xs  row align-items-center">
        <div class="col-md-8">
          <mat-form-field class="w-100">
            <input matInput  placeholder="Search Recruiters">
          </mat-form-field>
        </div>
            <div class="col-md-2">
                <button class="d-flex justify-content-around
                 compose rounded-0 p-sm-2" (click)="addRecruiters()">
                    Add Recruiters
                </button>
            </div>
      </div>