
<div class="overflow-hidden position-relative min-h">
        <nav class="navbar navbar-light nav_menu position-absolute bg-nav_menu" >
                <div class="row w-100 justify-content-between align-items-center">
                    <h3 class="d-flex align-items-center pointer" (click)="landingPage()">
                        <span class="logo_1">Apta</span> <span class="logo_2">ATS</span>
                    </h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <button class="nav-btns text-center" (click)="signInPage()">Sign In</button>
                        <button class="nav-btns text-center" (click)="signUpPage()">Sign Up</button>
                    </div>
                </div>
            </nav>
        <div class="container-fluid" style="margin-top:75px">
<div class="row color-ats">
        <div class="col-sm-8 offset-sm-4 signIn-img m-t-xxl" *ngIf="!confirmMail" >
             <form [formGroup]="forgotPswForm" (ngSubmit) = "onSubmit()" class="w-50">
                    <div class="text-center p-md">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text color-ats" id="basic-addon1">Email:</span>
                                    </div>
                                    <input type="email" class="form-control" formControlName="email"  aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                  <div class="text-red text-left" *ngIf="submitted && form.email.errors">
                                      <div *ngIf="form.email.errors.required">* This field is required</div>
                                      <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
                                  </div>
                           <p class="text-center m-t-sm"> <button type="submit" class="form-control btn-press color-ats form-rounded  d-inline-block submit" >Submit</button> </p>  
                           <h3>Password Reset mail has been sent to above mail</h3>
                    </div>  
             </form>
        </div>
        <div class="col-sm-8 offset-sm-4 signIn-img signIn-img m-t-xxl" *ngIf="confirmMail">
            <div class="w-75 text-center">
                <h4>A confirmation mail has been sent to your mail.</h4>
                <h4>Please confirm it and get started.</h4>
                <h4>Thank you</h4>
            </div>
        </div>
    </div>
    <div class="position-absolute login-img">
            <img src="../../../../assets/login-img.png" class="login-img_height">
        </div>
    </div>
    </div>