<div class="col-sm-12 justify-content-between m-t-xs  row align-items-center">
    <div class="col-sm-8"></div>
    <div class=" col-md-2 ">
        <button class="d-flex justify-content-around text-white main-btn-size
                 compose rounded-0 p-sm-2" (click)="viewRecruiters()">
            View Recruiters
        </button>
    </div>
</div>
<form [formGroup]="paymentForm">
        <div class="row justify-content-between">
                <div class="col-sm-12 col-lg-5 col-md-5 d-flex justify-content-center" *ngIf="!selectedPlan">

                    <div>
                        <!-- <p class="payment-head">Payment Details</p> -->
                        <mat-card class="payment-card">
                            <div class="row m-b">
                                    <div class="col-sm-12 d-flex align-items-center justify-content-center">
                                            <div class="profile_icon position-relative">
                                                    <mat-icon>person</mat-icon>
                                                    <div class="profile_icon_sub position-absolute">
                                                        <mat-icon>camera_alt</mat-icon>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                                        <div class="row">
                                                <div class="col-sm-6">
                                                        <label for="exampleInputEmail1">Enter Name</label>
                                                        <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" >
                                                      </div>
                                                      <div class=" col-sm-6">
                                                            <label for="exampleFormControlSelect1">Recruiter</label>
                                                            <select class="form-control" id="exampleFormControlSelect1" formControlName="recruiter">
                                                              <option>Recruiter1</option>
                                                              <option>Recruiter2</option>
                                                              <option>Recruiter3</option>
                                                              <option>Recruiter4</option>
                                                              <option>Recruiter5</option>
                                                            </select>
                                                          </div>
                                        </div>
                            <div class="row mb-3 m-t-sm ">
                                <div class="col-sm-6">
                                <label for="location" >Email </label>
                                <input type="email" class="form-control  w-100" formControlName="email"
                                id="location">
                                <!-- <div *ngIf="submitted && form.email.errors" class="text-red text-left m-t-n-sm">
                                    <div *ngIf="form.email.errors.required">* This field is required</div>
                                </div> -->
                               </div>
                               <div class="col-sm-6">
                                       <label for="location" class="d-block">Type Of Recruiter </label>
                                       <select class="form-control" id="location" formControlName="recruiter_type">
                                           <option>Recruiter_1</option>
                                           <option>Recruiter_2</option>
                                           <option>Recruiter_3</option>
                                           <option>Recruiter_4</option>
                                           <option>Recruiter_5</option>
                                         </select>
                               </div>
                            </div>
                           
                         
                            <div class="mb-3 m-t-sm row col-sm-12">
                                <label >Make Payment for Recruiter</label>
                                <div class="w-100 select-plan d-flex align-items-center
                                 justify-content-center pointer" (click)="choosePlan = true">
                                    <h6 class="text center " *ngIf="!planDetails">Choose Plan</h6>
                                    <div *ngIf="planDetails">
                                        <h6 class="text center">{{planDetails.plan}} Plan</h6>
                                        <h6 class="text center">Validity: &nbsp; {{planDetails.valid}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class=" mb-3 m-t-sm col-sm-12 text-center">
                                <button class="custom-button" type="submit" (click)="submitForm()">ADD</button>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5 col-md-5 d-flex justify-content-center" *ngIf="selectedPlan">
                    <mat-card class="subscription-card">
                        <h1 class="text-center">{{selectedPlan.plan}}</h1>
                        <div class="d-flex justify-content-center">
                            <div class="subscription-card_button">
                                <h3 class="text-center m-t-xs">${{selectedPlan.cost}}</h3>
                                <h3 class="text-center">{{selectedPlan.valid}}</h3>
                            </div>
                        </div>
                        <div *ngIf="selectedPlan.plan === 'Free Trial'">
                            <h5 class="text-center">Post up to 5 jobs</h5>
                            <h5 class="text-center">Score results for up to 5 CV's</h5>
                        </div>
                        <div *ngIf="selectedPlan.plan === 'Standard'">
                            <h5 class="text-center">Unlimited job postings</h5>
                            <h5 class="text-center">Custom job application link to
                                accept direct applications</h5>
                            <h5 class="text-center">Multi-CV upload and custom
                                'CV database' module</h5>
                        </div>
                        <div *ngIf="selectedPlan.plan === 'Business'">
                            <h5 class="text-center font-weight-bold">STANDARD</h5>
                            <h5 class="text-center font-weight-bold">+</h5>
                            <h5 class="text-center">Schedule interviews</h5>
                            <h5 class="text-center">Application status information</h5>
                            <h5 class="text-center">Compare applicant profiles</h5>
                        </div>
                        <h6 class="text-center">
                            <button class="custom-button" (click)="selectedPlanDetails()">Select</button>
                        </h6>
                    </mat-card>
                </div>

                <div class="col-md-7 col-lg-6 col-sm-7 d-flex 
                justify-content-start align-items-center" *ngIf="choosePlan">
                    <div class="subscribe-card">
                        <p class="payment-head">Subscription Plans</p>
                        <div class="row justify-content-between align-items-center  m-r-sm">
                            <div *ngFor="let item of plans" class="col-sm-4">
                                <div class="outer-circle">
                                    <div class="inner-circle d-flex justify-content-center align-items-center">
                                        <div>
                                            <p></p>
                                            <p class="font-weight-bold">{{item.plan}}</p>
                                            <p>${{item.cost}}</p>
                                            <p>${{item.valid}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center m-t">
                                    <button class="custom-button" (click)="planView(item)">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</form>