<div class="h-560 position-relative">
    <div class="row bg-img h-560" >
        <h3 class="text-center card-text col-sm-12 m-t-lg">Make your payment and start Hiring</h3>
        <div class="col-4 col-sm-4 d-flex justify-content-center align-items-center">
                <mat-card class="free-card">
                    <h3 class="card-text text-center">Free trail</h3>
                   <p class="text-center"> <button class="btn pricing-btn">
                        <h6>&#36;0</h6>
                        <h6>1 Day</h6>
                    </button></p>
                    <p class="col-sm-12 p-l-r-0 text-center">Post upto 5 jobs Score results for upto 5 CV's</p>
                    
                </mat-card>
        </div>
        <div class="col-4 col-sm-4 d-flex justify-content-center">
                <mat-card class="standard-card">
                        <h3 class="card-text text-center standard-text">Standard</h3>
                        <p class="text-center">
                        <button class="btn  pricing-btn">
                            <h6>&#36;750</h6>
                            <h6>3 months</h6>
                        </button>
                        </p>
                        <p class="col-sm-12 p-l-r-0 text-center">Unlimited job postiongs custom job application link Multi-CV upload and  Custom &#39; CV database &#39; module</p>
                </mat-card>
        </div>
        <div class="col-4 col-sm-4 d-flex justify-content-center align-items-center">
                <mat-card class="free-card">
                        <h3 class="card-text text-center">Business</h3>
                        <p class="text-center">   <button class="btn pricing-btn">
                            <h6>&#36;1250</h6>
                            <h6>6 months</h6>
                        </button>
                        </p>
                        <p class="text-center  m-b-0">STANDARD</p>
                        <p class="text-center  m-b-0"> + </p>
                        <p class=" m-b-0 text-center">
                            Schedule interviews Application status information Compare applicant profiles
                        </p>
                </mat-card>
        </div>
    </div>
    <div class="row position-absolute w-100 bottom-btns">
            <div class="col-4 col-sm-4 d-flex justify-content-center align-items-center">
                    <button class="btn btn-press">GET FREETRAIL</button>
                </div>
                <div class="col-4 col-sm-4 d-flex justify-content-center align-items-center">
                    <button class="btn btn-press">GET STANDARD</button>
                </div>
                <div class="col-4 col-sm-4 d-flex justify-content-center align-items-center">
                    <button class="btn btn-press">GET BUSINESS</button>
                </div>
    </div>
  
    <div class="position-absolute bottom-img w-100">
        <div class="position-relative h-270">
            <div class="position-absolute">
                <img src="../../../assets/MicrosoftTeams-image (1).png" class="h-270 w-100 wave">
            </div>
                </div>
    </div>
    
</div>