<div class="overflow-hidden ">
    <nav class="navbar navbar-light p-l-r-0 nav_menu bg-nav_menu fixed-top ">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <h3 class="d-flex p-l-r-10 align-items-center pointer" (click)="landingPage()">
                <span class="logo_1">Apta</span> <span class="logo_2">ATS</span>
            </h3>
            <div class="col-sm-2 p-l-r-0 d-flex justify-content-around align-items-center m-r-n text-white">
                <mat-icon matBadge="22" matBadgePosition="above after">email</mat-icon>
                <mat-icon (click)="home()">home</mat-icon>
                <mat-icon matBadge="10" matBadgePosition="above after">notifications</mat-icon>
                <mat-icon class="m-l-sm">account_circle</mat-icon>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="outline-none"
                 aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="z-index-high">
                    <button mat-menu-item class="dot-menu-btn">
                        <mat-icon>insert_drive_file</mat-icon>
                        <span>Templates</span>
                    </button>
                    <button mat-menu-item class="dot-menu-btn" (click)="settings()">
                        <mat-icon>settings</mat-icon>
                        <span>Settings</span>
                    </button>
                    <button mat-menu-item class="dot-menu-btn">
                        <mat-icon>lock</mat-icon>
                        <span>Privacy Policy</span>
                    </button>
                    <button mat-menu-item class="dot-menu-btn">
                        <mat-icon>description</mat-icon>
                        <span>Terms and Conditions</span>
                    </button>
                    <button mat-menu-item class="dot-menu-btn">
                        <mat-icon>power_settings_new</mat-icon>
                        <span>Sign Out</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-between align-items-center p-l-r-10 m-t-md m-b-xs">
            <div class="col-sm-2 text-white admin-text">
                <div class="admin-text_1">Naveen Reddy Sagha</div>
                <div class="admin-text_2">Member of Aptagrim</div>
                <p class="admin-text_2">Admin</p>
            </div>
            <div class="col-sm-2 text-center ">
                <span class="date-text d-block m-b-n-sm">{{dateMonth.month}}</span>
                <span class="date-text">{{dateMonth.date}}</span>
            </div>
            <div class="col-sm-8 d-flex justify-content-between align-items-center">
                <div class="card admin-cards">
                    <div class="card-body text-center">
                        <h5 class="card-title">New Subscriptions</h5>
                    </div>
                </div>
                <div class="card admin-cards">
                    <div class="card-body text-center">
                        <h5 class="card-title">Feedback</h5>
                    </div>
                </div>
                <div class="card admin-cards">
                    <div class="card-body text-center">
                        <h5 class="card-title">Hot Visitors</h5>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="p-l-r-0 second_nav" style="margin-top:165px">
        <div class="d-flex w-100 p-l-r-10 justify-content-between align-items-center">
            <span>Users</span>
            <span>Feedback</span>
            <span>Subscription Plans</span>
            <span>Hot Visitors</span>
        </div>
    </nav>
    <div class="min-height">

        <router-outlet></router-outlet>
    </div>
    <div class="footer-text">
        <h6 class="footer-text_h6">Aptagrim </h6>
        <span class="footer-text_span">@2019. All Rights Reserved</span>
    </div>
</div>