<div class="conrtainer-fluid p-l-r-0 m-t-dash">
    <div class="row p-l-xxl m-t-xxxxl m-b-lg" >
            <div class="col-md-9 subscription">
                <!-- <p>Subscribed Users  -  <span style="color: #383838; font-size: 30px;">116</span></p>
                <p>Free trial -  <span>52 Active Users</span></p>
                <p>Standard Plan -  <span>39 Active Users</span></p>
                <div class="subscription_sub m-t-n-sm m-b-md">
                        <p>Basic Plan - <span>15 Users</span></p>
                        <p>AI Plan - <span>24 Users</span></p>
                </div>
                <p>Business  Plan -  <span>25 Active Users</span></p>
                <div class="subscription_sub m-t-n-sm">
                        <p>Basic Plan - <span>10 Users</span></p>
                        <p>AI Plan - <span>15 Users</span></p>
                </div> -->
                <div class="d-flex justify-content-center m-b-lg main-plan">
                    <div class="text-center subscribe">
                        <h6 class="subscription-head">Subscribed Users</h6>
                        <span class="subscription-text">116</span>
                    </div>
                </div>
                <div class="plans">
                  <div class="d-flex justify-content-around">
                      <mat-accordion class="w-200">
                          <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                Free Trail
                              </mat-panel-title>
                              <mat-panel-description>
                                52 Users
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            </mat-expansion-panel>
                            </mat-accordion>
                            <mat-accordion class="w-200">
                                  <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                        Standard Plan
                                      </mat-panel-title>
                                      <mat-panel-description>
                                        39 Active Users
                                      </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="subscription_sub m-t-sm">
                                          <p>Basic Plan - <a>15 Users</a></p>
                                          <p>AI Plan - <a>24 Users</a></p>
                                  </div>
                                    </mat-expansion-panel>
                                    </mat-accordion>
                                    <mat-accordion class="w-200">
                                          <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                              <mat-panel-title>
                                                Business Plan
                                              </mat-panel-title>
                                              <mat-panel-description>
                                               25 Active Users
                                              </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <div class="subscription_sub m-t-sm ">
                                                  <p>Basic Plan - <a>10 Users</a></p>
                                                  <p>AI Plan - <a>15 Users</a></p>
                                          </div>
                                            </mat-expansion-panel>
                                            </mat-accordion>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="m-b-md">Validation Notice</h4>
                <span class="validation">Send Validation Notice to Every user</span>
                <h5 class="m-t-xl m-b-md">Feedback Check</h5>
                <span class="validation">Tickets Raised -  30</span>
            </div>
        </div>
    </div>