@import '../admin-users/admin-users.component.scss';
.heading1 span {
    font-size: 15px;
    font-weight: lighter;
    margin-left: 5px;
}
.heading1 {
    font-weight: 500
}
.compose {
    font-size: 15px;
}