<div class="overflow-hidden ">
    <nav class="navbar navbar-light p-l-r-0 nav_menu bg-nav_menu fixed-top ">
        <div class="row p-l-r-nav w-100 justify-content-between align-items-center">
            <div class="d-flex">
                <!-- <button class="btn compose m-l outline-none" id="menu-toggle">
                    <mat-icon>menu</mat-icon>
                </button> -->
                <h3 class="d-flex p-l-r-10 align-items-center pointer m-l-sm" (click)="home()">
                    <span class="logo_1">Apta</span> <span class="logo_2">ATS</span>
                </h3>
            </div>
            <div class="col-5 col-lg-4 p-l-r-0 d-flex justify-content-around align-items-center m-r-n text-white">
                <button class="btn-press nav-button m-r-sm" matBadge="10" matBadgePosition="above after">Inbox</button>
                <button class="btn-press nav-button">Upload Resumes</button>
                <mat-icon (click)="home()">home</mat-icon>
                <div ngbDropdown class="d-inline-block">
                    <button class="outline-none bg-none b-none text-white" id="dropdownForm1" ngbDropdownToggle>
                        <mat-icon matBadge="10" matBadgePosition="above after">notifications</mat-icon>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                        <div class="d-flex justify-content-between notifications" *ngFor="let item of notifications">
                            <h5 class="col-sm-9">
                                Raj Tanveer has been selected for
                                Java Developer Role
                            </h5>
                            <div class="col-sm-3">
                                <h6>{{item}}</h6>
                                <h6 class="text-center">
                                    <button class="filter">View</button>
                                </h6>
                            </div>
                        </div>
                        <p class="text-center text-white m-t-sm pointer"> View More</p>
                    </div>
                </div>
                <mat-icon class="m-l-sm pointer" (click)="profile()">account_circle</mat-icon>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="outline-none m-r-sm"
                    aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="z-index-high">
                    <!-- <button mat-menu-item class="dot-menu-btn" (click)="template()">
                            <mat-icon>insert_drive_file</mat-icon>
                            <span>Templates</span>
                        </button> -->
                    <button mat-menu-item class="dot-menu-btn" (click)="settings()">
                        <mat-icon>settings</mat-icon>
                        <span>Settings</span>
                    </button>
                    <button mat-menu-item class="dot-menu-btn">
                        <mat-icon>lock</mat-icon>
                        <span>Privacy Policy</span>
                    </button>
                    <button mat-menu-item class="dot-menu-btn">
                        <mat-icon>description</mat-icon>
                        <span>Terms and Conditions</span>
                    </button>
                    <button mat-menu-item class="dot-menu-btn" (click)="signOut()">
                        <mat-icon>power_settings_new</mat-icon>
                        <span>Sign Out</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <button class="feedback-button">FeedBack</button>
        <div class="row w-100 p-l-r justify-content-between align-items-center">
                <div class="col-sm-2 p-l-0 text-white admin-text">
                        <div class="admin-text_1">Today Events</div>
                        <div class="admin-text_2">Oct</div>
                        <div class="admin-text_2">17</div>
                        <div class="admin-text_2">2019</div>
                    </div>
                    <div class="col-sm-7"></div>
        </div>
    </nav>
    <div class="d-flex allPages" id="wrapper">
        <div  id="sidebar-wrapper">
            <div class="manager-side ">
                <P><span>
                        <mat-icon>person</mat-icon>
                    </span></P>
                <P><span>Jobs</span></P>
                <P><img src="../../../assets/submenu1.png"></P>
                <P><img src="../../../assets/submenu3.png"></P>
                <P><img src="../../../assets/submenu2.png"></P>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="footer-text">
        <h6 class="footer-text_h6">Aptagrim </h6>
        <span class="footer-text_span">@2019. All Rights Reserved</span>
    </div>
</div>