<div class="col-sm-11 m-t-lg m-l-sm">
    <h3 class="row justify-content-between">
        <span class="temp-heading">Make Collection of your Templates and Move Easy</span>
        <button class="compose">Add Template</button>
    </h3>
    <h4 class="sub_head1">Mailing Template</h4>
    <div class="template row justify-content-between align-items-start">
        <h5 class="col-sm-11">
            Sabbaticals are gaining in popularity across corporate America, typically lasting five weeks for
            employees who have been with the company for a minimum of five years. And while five weeks
            of paid time off might seem like a large chunk of unproductive time, it actually only amounts to
            2% of an employee’s time within a five-year span.
        </h5>
        <h5 class="d-flex justify-content-between align-items-center">
            <button class="filter">Edit</button>
            <mat-icon>delete</mat-icon>
        </h5>
    </div>
    <h4 class="sub_head1 ">Signature</h4>
    <div class="template row justify-content-between align-items-start">
<div class="col-sm-10">
    <div *ngIf="edit">
        <div>Thanks and Regards</div>
        <div> Naveen Reddy shaga</div>
        <div>Naveen@aptagrim.com</div>
        <div> 520-365-1245</div>
        <div>Aptagrim.com </div>
    </div>
    <div *ngIf="!edit">
        <textarea class="form-control text-area"></textarea>
    </div>
        <div class="signature col-sm-5" *ngIf="edit">
            <img src="../../../../assets/logo-normal.png" class="apta-img">
            <div class="text-right">
                <span>turn</span>
                <span class="ats-color">DATA</span>
                <span>into</span>
            </div>
            <p class="text-right">
                <span class="ats-color"> INFORMATION</span>
                <span>and</span>
                <span class="ats-color">INSIGHT</span>
            </p>
        </div>
        <div class="signature col-sm-5 text-center" *ngIf="!edit">
                <input type="file" id="file_upload" class="d-none" />
                <label for="file_upload" class="file_upload">
                        <mat-icon>cloud_upload</mat-icon>
                </label>
              </div>
</div>
<h5 class="d-flex justify-content-between align-items-center">
        <button class="filter" (click)="edit= !edit">Edit</button>
        <mat-icon>delete</mat-icon>
    </h5>
    </div>

</div>